# 봇 토큰. 반드시 지정해야 합니다.
BOT_TOKEN=

# 메시지 저장 경로. 반드시 지정해야 합니다.
STORE_PATH=

# 개발시 'polling' 을 선택할 수 있습니다. 비워두면 'webhook' 을 사용합니다.
RUNNING_MODE=

# 웹 훅 사융시, 웹 훅의 URL 을 입력.
WEBHOOK_URL=

# URL 해당하는 IP. 옵션.
WEBHOOK_IP=
